* {
    margin: 0px;
}

body {
    background-color: black;
    overflow: hidden;
}

.static-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    opacity: 0;
}

.static-effect::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("ruta/a/tu/imagen.png");
    z-index: 1;
}

.static-effect::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("./textures/static.jpg");
    animation: static 2s infinite;
    z-index: 2;
    opacity: 0.5;
}

@keyframes static {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(5px, -5px);
    }

    100% {
        transform: translate(0, 0);
    }
}




#canvas {
    background-color: black;
    border-radius: 3px;
    display: block;
    margin: auto;
    opacity: 0.45;
}

.init {
    display: block;
    position: absolute;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(231, 97, 97, 0.5);
    user-select: none;

}

.init::after {
    content: "Click to start";
    display: block;
    margin: 0 auto;
    color: white;
    background-color: #232323;

    padding: 1rem 2rem 2rem;
    text-align: center;
    font-size: 1.2rem;
    width: 20%;
    height: 0.7rem;
    border-radius: 5px;
    overflow-y: hidden;
}

.init>p {
    color: white;
    background-color: rgb(35, 35, 35);
    display: block;
    margin: 10vh auto;

    padding: 2rem;
    text-align: center;
    font-size: 1rem;
    width: 70vw;
    height: 5rem;
    border-radius: 3px;
    overflow-y: scroll;


}

.container {
    width: 700px;
    height: 700px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.light {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle closest-side, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    mix-blend-mode: multiply;
    pointer-events: none;

}

#gui {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
    text-align: center;
    padding-top: 20px;
}